.card {
    height: 100%;
    background-color: #343a40;
    margin-top: 20px;
}

.card-body {
    text-align: center;
}

a {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}
.cards{
  margin-top: 50px;
}


@media screen and (max-width:812px) {
    .frame iframe {
        width: 100% !important;
    }
}

@media screen and (max-width:812px) {
    .cards {
        margin-bottom: 0px;
    }
}



iframe {
    width: 100%;
    height: auto;
}

/* @media screen and (max-width:1024px) {
    .iframe {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:960px) {
    .iframe {
        width: 100%;
        height: auto;
    }
} */
