<div class="container">
    <div class="row" style="margin-right: -32px;
    margin-left: -30px;">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/thumbnail2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bakiteers vs TikToker</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary btn-rounded">Watch Video</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/Thumbnail.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Work From Home</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Watch Video</a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/Thumbnail.png " alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Quarantine</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary btn-rounded">Watch Video</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/Thumbnail.png " alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Quarantine</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Watch Video</a>
                </div>
            </div>
        </div>
    </div>



</div>