.card {
    height: 100%;
    background-color: #343a40;
}

.card-body {
    text-align: center;
}

a {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}


/* .blogs {
    margin-right: -32px !important;
    margin-left: -30px !important;
} */


/* @media screen and (max-width:812px) {
    .blogs {
        margin-right: -29px !important;
        margin-left: -30px !important;
    }
} */

@media screen and (max-width:812px) {
    .frame {
        margin-top: 32px;
    }
}

@media screen and (max-width:812px) {
    .frame iframe {
        width: 100% !important;
    }
}

@media screen and (max-width:812px) {
    .cards {
        margin-bottom: 37px;
    }
}

@media screen and (max-width:812px) {
    .card {
        height: 420px;
    }
}

.videoPart2 {
    margin-top: 48px !important;
}

@media screen and (max-width:812px) {
    .videoPart2 {
        margin-top: 0px !important;
    }
}

iframe {
    width: 248px;
    height: 215px;
}

@media screen and (max-width:1024px) {
    .iframe {
        width: 201px;
        height: 215px;
    }
}

@media screen and (max-width:960px) {
    .iframe {
        width: 145px;
        height: 215px;
    }
}
