.card {
    height: 400px;
    background-color: #343a40;
}

.card-body {
    text-align: center;
}

a {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.blogs {
    margin-right: -32px !important;
    margin-left: -30px !important;
}

@media screen and (max-width:812px) {
    .blogs {
        margin-right: -29px !important;
        margin-left: -30px !important;
    }
}

@media screen and (max-width:812px) {
    .frame {
        margin-top: 32px;
    }
}

@media screen and (max-width:812px) {
    .frame iframe {
        width: 100% !important;
    }
}

@media screen and (max-width:812px) {
    .cards {
        margin-bottom: 37px;
    }
}

@media screen and (max-width:812px) {
    .card {
        height: 420px;
    }
}