.footer {
    background-color: #343a40 !important;
    height: 100% !important;
}

a {
    color: darkgray;
}

.font-weight-bold.mt-3.mb-4 {
    color: #fff;
}

.text-center {
    margin-top: -12px;
}
