<div class="footer">
    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold mt-3 mb-4">BakaiTeers</h5>

                    <p>
                        <img style="cursor: pointer;" (click)="backHome()" id="img" class="style-scope yt-img-shadow" alt="Avatar image" height="42" width="42" src="assets/images/bk3.jpg">

                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold mt-3 mb-4">Youtube
                        <img class="firstSlide" style="width: 28px;" src="assets/images/youtube.png" alt="First slide">
                    </h5>
                    <ul class="list-unstyled" *ngFor="let data of footerData['youtube']">
                        <li>
                            <a href="{{data.link}}" target="_blank">{{data.title}}</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold mt-3 mb-4">Contact</h5>

                    <ul class="list-unstyled" *ngFor="let data of footerData['contact']">
                        <li>
                            <a href="{{data.link}}" target="_blank">{{data.title}}</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold mt-3 mb-4">About</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="about" routerLinkActive="active">Our Journey</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>

            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <app-modal></app-modal>
                <!-- <a (click)="sendQuery() ">Send a query</a> -->
            </li>

        </ul>

        <!-- Call to action -->

        <hr>
    </footer>
    <div class="footer-copyright text-center py-3 " style="color: #fff; ">© 2020 Copyright:
        <a href="www.bakaiteers.com/ "> Bakaiteers.com</a>
    </div>
    <!-- Footer -->
</div>