.navbar-nav li a {
    color: #fff;
}

#navbarNavDropdown li ul {
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 1;
}

#navbarNavDropdownli ul li {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 300ms ease-in;
    -moz-transition: height 300ms ease-in;
    -o-transition: height 300ms ease-in;
    transition: height 300ms ease-in;
}

#navbarNavDropdown ul>li:hover ul li {
    height: 36px;
}

.container {
    scroll-behavior: smooth !important;
}

.navbar-nav a:hover {
    color: darkgray;
    font-weight: bold;
}
