<!-- Page Content -->
<div class="container">
    <div class="row" style="margin-left: 0px !important;">
        <div class="col-xl-12 col-md-12 mb-4">
            <h4 style="text-align: center;font-size: 32px;">We are not the musketeers but the Bakaiteers</h4>
        </div>
    </div>
    <div class="row" style="margin-left: 0px !important;">
        <div class="col-xl-12 col-md-12 mb-4">
            <div class="bakaiteers">
                <img src="assets/images/bk4.jpg">

            </div>
            <!-- <img src="assets/images/bk3.jpg" width="70%" height="60%"> -->
        </div>
    </div>
    <div class="row" style="margin-left: 0px !important;text-align: initial;">
        <div class="col-xl-12 col-md-12" style="margin-bottom: 64px;">
            <h5>BakaiTeers is a channel for entertainment that celebrates friendship and presents relatable, real, funny & interesting stories about friends, life, love and corporate world. We make awesome short videos that you can relate to. So sit back
                and enjoy these.
            </h5>

        </div>
    </div>

    <div class="row" style="margin-left: 0px !important;text-decoration: underline;">
        <div class="col-xl-12 col-md-12">
            <h5 style="margin-bottom: 67px;font-weight: bold;">Meet Our Team</h5>

        </div>
    </div>

    <!-- <header class="text-center py-1 mb-4">
        <h1 class="font-weight-light text-white">Meet the Team</h1>
    </header> -->
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="assets/images/Pratha.jpg" height="300px" class=" card-img-top " alt="... ">
                <div class="card-body text-center ">
                    <h5 class="card-title mb-0 ">Pratha </h5>
                    <div class="card-text text-white-50 ">UX Designer/Video Editor/Actor</div>
                    <div class="card-text text-black-50 ">
                        <a href="https://www.facebook.com/pratha.upadhyay21" target="_blank">
                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/pratha21/" target="_blank">
                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/pratha-upadhyay-419105109/" target="_blank">
                            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>

                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-6 col-md-6 mb-4 ">
            <div class="card border-0 shadow ">
                <img src="assets/images/Sajal.jpg " height="300px" class="card-img-top " alt="... ">
                <div class="card-body text-center ">
                    <h5 class="card-title mb-0 ">Sajal</h5>
                    <div class="card-text text-white-50 ">QA Engineer/Actor</div>
                    <div class="card-text text-black-50 ">
                        <a href="https://www.facebook.com/sajal.agarwal.397" target="_blank">
                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/sajal.agarwal.397/" target="_blank">
                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/sajal-agarwal-55a26336/" target="_blank">
                            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>

                        </a>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <!-- Team Member 3 -->
        <div class="col-xl-6 col-md-6 mb-4 ">
            <div class="card border-0 shadow ">
                <img src="assets/images/Neeraj.jpg " height="300px" class="card-img-top " alt="... ">
                <div class="card-body text-center ">
                    <h5 class="card-title mb-0 ">Neeraj</h5>
                    <div class="card-text text-white-50 ">Web Developer/Actor</div>
                    <div class="card-text text-black-50 ">
                        <a href="https://www.facebook.com/neeraj.aggarwal.1000/" target="_blank">
                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                        </a>
                        <!-- <a href="" target="_blank">
                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                        </a> -->
                        <a href="https://www.linkedin.com/in/neeraj-aggarwal-1586825b" target="_blank">
                            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>

                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-6 col-md-6 mb-4 ">
            <div class="card border-0 shadow ">
                <img src="assets/images/Amit.jpg" class="card-img-top " height="300px" alt="... ">
                <div class="card-body text-center ">
                    <h5 class="card-title mb-0 ">Amit</h5>
                    <div class="card-text text-white-50 ">QA Engineer/Actor</div>
                    <div class="card-text text-black-50 ">
                        <a href="https://www.facebook.com/profile.php?id=100000084443105" target="_blank">
                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/mr.kumar_amit/" target="_blank">
                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/amit-kumar-46632270/" target="_blank">
                            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>

                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->

</div>
<app-footer></app-footer>