/* .carousel-inner>.carousel-item>.row>.col-md-12>img {
    margin-left: 57px;
    margin-bottom: 47px;
} */


/* .slide>.carousel-inner>.carousel-item>img {
    height: 500px !important;
    width: 100% !important;
} */