/* body {
    background-color: #B2ADA0;
    background-image: url("http://clipart-library.com/clipart/1922249.htm");
    ;
} */

body {
    font-family: tahoma, helvetica, arial, sans-serif;
    font-size: 15px;
    text-align: center;
    background: #000;
    color: #ddd4d4;
    padding-top: 12px;
    line-height: 2;
    /* background-image: url('images/background.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #B2ADA0;
    background: rgb(0, 0, 0);
    /* for older browsers */
    background: rgba(0, 0, 0, 0.8);
    /* R, G, B, A */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC0000);
    /* AA, RR, GG, BB */
    z-index: 1;
}