.bg-transparent {
  background-color: transparent;
}

:host {
  height: 100%;
}

.photo {
  object-fit: contain;
}

.card {
  width: 20rem;
  margin: 0 auto;
}

.card {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  z-index: 2203;
}

.card-header:first-child {
  width: 113%;
}

.card{
  background-color: #343a40;
  top: 40%;
  left: 38%;
  height: auto;

}

@media screen and (max-width:812px) {
  .card {
    left: auto;
  }
}
