<div class="container">


<div class="row">

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-12" >

  <div *ngIf="!user" class="card text-center">
    <div class="row">

      <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 col-9" style="text-align: initial;">
        <h6 class="card-header">
          Not signed in?
        </h6>
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-3">
        <h6 class="card-header" style="cursor:pointer" (click)="closeLoginModal()">X</h6>
      </div>
    </div>

    <div class="row card-block">

      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-12">

        <!-- <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-12">
            <h6 class="card-title">Not signed in?</h6>
          </div>
        </div> -->

        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-12">
            <p class="card-text">Sign in with</p>
          </div>
        </div>

        <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-6">
                <img style="height: 83%;width: 17%;cursor: pointer;" src="assets/images/google.png" (click)="signInWithGoogle()" *ngIf="loggedIn===false">

          </div>

          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-6">
            <img style="height: 83%;width: 17%;cursor: pointer;" src="assets/images/facebook.jpeg" (click)="signInWithFB()" *ngIf="loggedIn===false">


          </div>
        </div>


      </div>





    </div>

  </div>






</div>
  <!-- <div *ngIf="user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img *ngIf="user.photoUrl" class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
      <p class="card-text">Logged in with {{ user.provider }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()" *ngIf="loggedIn===true">Sign out</button>
    </div>
  </div> -->
</div>
</div>

