.carousel-indicators {
    margin-bottom: -53px !important;
}

.carousel-control-prev {
    margin-left: -39px !important;
}

.carousel-control-next {
    margin-right: -39px !important;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2% !important;
    text-align: center;
    opacity: 0.4 !important;
    transition: opacity 0.15s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1 !important;
}

.slide>.carousel-inner>.carousel-item>img {
    height: 500px !important;
    width: 100% !important;
}

@media screen and (max-width:812px) {
    .slide>.carousel-inner>.carousel-item>img {
        height: 300px !important;
        width: 100% !important;
    }
}

@media screen and (max-width:812px) {
    .carousel-control-next {
        margin-right: 0px !important;
    }
}

@media screen and (max-width:812px) {
    .carousel-control-prev {
        margin-left: 0px !important;
    }
}

@media screen and (max-width:812px) {
    .navbar-toggler {
        background-color: white !important;
    }
}

@media screen and (max-width:812px) {
    .navbar-light .navbar-brand {
        color: white !important;
    }
}


/* .navbar-nav a:hover {
    color: blue !important;
} */
.svg-inline--fa.fa-w-16 {
  width: 2em !important;
}
