<div class="container">

    <button *ngIf="edited && !minimize" #chatIcon (click)="openDialog()" class="Chat-icon" id="chatbot" data-toggle="modal" data-target="#ChatBot" data-backdrop="static" data-keyboard="false"></button>
</div>
<div class="container">

    <div #chatting class="modal fade" style="position: fixed !important;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div #close class="modal-content closeModel" id="closeModel">
                <h6><i id="chatdone">Chat Done &#9829;</i>
                    <i class="close" data-dismiss="modal" id="close" class="fa fa-times"></i></h6>
            </div>

            <app-angular-chat-bot *ngIf="!edited && !minimize" (editedValue)="onValueChange($event)"></app-angular-chat-bot>

        </div>
    </div>
</div>
